{% extends 'base.html.twig' %}

{% block title %}Lista Productos{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Listado de productos</h1>
    <div class="row">
        <a href="/product/new" class="btn btn-success" >Crear</a>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <table class="table" id="tableProduct">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Marca</th>
                        <th>Categoria</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{product.id}}</td>
                        <td>{{product.code}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.make}}</td>
                        <td>{{product.category.name}}</td>
                        <td>{{product.price}}</td>
                        <td>        
                            <a href="{{ path('productEdit', {
                                    id: product.id
                                }) }}" class="btn btn-warning">
                                Editar
                            </a>
                            <a href="{{ path('productDeleted', {
                                    id: product.id
                                }) }}" class="btn btn-danger">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#tableProduct').DataTable();
    })
</script>
{% endblock %}
